*
{
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

#service .service-item p,
#service p,
#feature h2, #feature p,
#intro h2, #intro p, #intro .block p
{
  font-family: sans-serif;
  text-shadow: 0 0 10px #ffffff;
  color: #000000;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Noto Sans Japanese",sans-serif;
  text-transform: none !important;
  font-weight: 700;
}

.navbar-brand img
{
  height: 60px;
  width: auto;
}

header .navbar-brand
{
  padding: 0;
}

.section-title p
{
  font-style: normal;
}

#slider .block h1
{
  font-family: "Noto Sans Japanese",sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

#slider::before
{
  opacity: 0.2;
}

#slider .block p
{
  line-height: 1.5em;
}

#slider .block h1
{
  padding-bottom: 0;
}

#slide h1, #slider p
{
  text-shadow: 0 0 5px #000000;
}

footer
{
  background-color: #343741;
  color: #ffffff;
}

footer p, footer a, footer a:hover, footer .footer-manu ul li a
{
  color: #ffffff;
}

#call-to-action h2
{
  line-height: 1.5em;
}

#call-to-action::before
{
  background-color: #EB5C0B;
}

#global-header .block h1
{
  letter-spacing: normal;
  font-weight: 900;
}

ul
{
  margin: 1em;
  margin-left: 2em;
  list-style-type: disc;
}

#service
{
  padding: 45px 0;
}

#blog
{
  display: flex;
  padding-bottom: 45px;
  padding-top: 45px;
}

#blog .posts
{
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

#blog .post
{
  display: block;
  width: 25%;
  box-sizing: border-box;
  padding: 8px;
}

@media (max-width : 768px) {
  #blog .post
  {
    width: 50%;
  }
}

@media (max-width : 480px) {
  #blog .post
  {
    width: 100%;
  }
}

#blog .post div
{
  padding: 0;
  margin: 0;
}


#blog .post-container
{
  display: block;
}

#blog .post-thumbnail
{
  width: 100%;
  height: 150px;
}

#blog .post-thumbnail img
{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 1px solid #cccccc;
}

#blog .post-date
{
  text-align: right;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% { transform: rotate(10deg); }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

#slider::before
{
  background: none;
}

#slider
{
  background-position: center;
}

.posts .post-title
{
  font-weight: normal;
}

.launch-get-geolonia
{

}

@media (max-width: 768px) {
  #slider
  {
    background-attachment: scroll;
  }
}

.launch-get-geolonia {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.launch-get-geolonia:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

#global-header::before
{
  background: none !important;
}

#pricing .plan
{
  border: 1px solid #555555;
  height: 1000px;
}

#global-header .block
{
  padding-left: 0;
}

.home-content section
{
  background-color: #FFFFFF;
  padding: 45px 0;
}

.home-content section:nth-child(even)
{
  background-color: #f5f5f5;
}

.post-list
{
  margin: 24px 0 0 0;
  padding: 0;
  list-style-type: none;
  border-top: 2px solid #ff8240;
}

.post-list .date
{
  color: #999999;
}

.post-list li
{
  border-bottom: 1px solid #cccccc;
  padding: 16px 8px;
}
