#service .service-item p,
#service p,
#feature h2, #feature p,
#intro h2, #intro p, #intro .block p
{
  font-family: sans-serif;
  text-shadow: 0 0 10px #ffffff;
  color: #000000;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Noto Sans Japanese",sans-serif;
  text-transform: none !important;
  font-weight: 700;
}

.navbar-brand img
{
  height: 60px;
  width: auto;
}

header .navbar-brand
{
  padding: 0;
}

.section-title p
{
  font-style: normal;
}

#slider .block h1
{
  font-family: "Noto Sans Japanese",sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

#slider::before
{
  opacity: 0.2;
}

#slider .block p
{
  line-height: 1.5em;
}

#slider .block h1
{
  padding-bottom: 0;
}

#slide h1, #slider p
{
  text-shadow: 0 0 5px #000000;
}

footer
{
  background-color: #343741;
  color: #ffffff;
}

footer p, footer a, footer a:hover, footer .footer-manu ul li a
{
  color: #ffffff;
}

#call-to-action h2
{
  line-height: 1.5em;
}

#call-to-action::before
{
  background-color: #EB5C0B;
}

#global-header .block h1
{
  letter-spacing: normal;
  font-weight: 900;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% { transform: rotate(10deg); }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}
