h1, h2, h3, h4, h5, h6
{
  font-family: "Noto Sans Japanese",sans-serif;
  font-weight: 700;
}

.navbar-brand img
{
  height: 60px;
  width: auto;
}

header .navbar-brand
{
  padding: 0;
}

#slider .block h1
{
  font-family: sans-serif;
  letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6
{
  text-transform: none !important;
}

#slider::before
{
  opacity: 0.2;
}

#slide h1, #slider p
{
  text-shadow: 0 0 10px #000000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% { transform: rotate(10deg); }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}
