---
layout: page
title: Geolonia - An Elastic Map Hosting
description: フルマネージド位置情報ホスティング & ベクトルタイル地図
permalink: /
featured_image: /img/slider-bg.jpg
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="block">
          <h1 class="animated fadeInUp">柔軟で自由度の高い位置情報ホスティング</h1>
          <p class="animated fadeInUp">Geolonia（ジオロニア） は、WebGL を利用した柔軟な地図と、お客様が持つ位置情報を検索・解析するための API を提供するホスティングサービスです。</p>
        </div>
      </div>

      <div class="col-md-5">
        <div class="animated fadeInUp">
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>WebGL による柔軟でスムーズな地図</h2>
            <p>Geolonia の地図は、オープンストリートマップのデータを基盤としており、印刷やスクリーンショットの再利用などが可能な自由度の高いライセンスになっています。</p>
            <p>また、地図の表示にはベクトルタイルを採用しており、道路や建物などが WebGL でレンダリングされており、JavaScript によって個々のオブジェクトのプロパティにアクセスすることで、とても自由度の高いカスタマイズが可能です。</p>

            <p><button class="launch-get-geolonia" data-demo="on">Geolonia の地図を見てみる</button></p>
          </div>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/marker.png" alt="">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>位置情報をサーバーレスで管理</h2>
      <p>Geolonia では、フルマネージドによる位置情報データのホスティングサービスを提供しており、お客様は GUI で各地物の位置情報を管理し、アプリケーションから API 経由でアクセスすることが可能です。</p>
      <p>API のレスポンスには GeoJSON を採用しており、オープンソースライブラリ等で容易に扱うことが可能です。</p>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Geolonia でできること</h2>
        <p>Geolonia は位置情報ホスティングと柔軟でスムーズな地図を提供します。</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-grid"></i>
          <h4>ベクトルタイル</h4>
          <p>地図の表示にはベクトルタイルを採用。スムーズな動きを実現。</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-pin"></i>
          <h4>WebGL</h4>
          <p>地物はWebGL でレンダリング。JavaScript によって個々のオブジェクトのプロパティにアクセス。</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-map"></i>
          <h4>位置情報ホスティング</h4>
          <p>API のレスポンスはGeoJSON。オープンソースライブラリ等で容易に扱えます。</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-hammer"></i>
          <h4>GUI</h4>
          <p>GUIで各地物の位置情報を管理。API経由でアプリケーションからアクセス。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog">
  <div class="container">
    <div class="section-title">
      <h2 style="text-align: center;">Developer's Blog</h2>
    </div>
    <div class="posts">
      <div class="post">
        <a class="post-container">
          <div class="post-thumbnail"></div>
          <div class="post-content"><h4 class="post-title"></h4><div class="post-date"></div></div>
        </a>
      </div>
      <div class="post">
        <a class="post-container">
          <div class="post-thumbnail"></div>
          <div class="post-content"><h4 class="post-title"></h4><div class="post-date"></div></div>
        </a>
      </div>
      <div class="post">
        <a class="post-container">
          <div class="post-thumbnail"></div>
          <div class="post-content"><h4 class="post-title"></h4><div class="post-date"></div></div>
        </a>
      </div>
      <div class="post">
        <a class="post-container">
          <div class="post-thumbnail"></div>
          <div class="post-content"><h4 class="post-title"></h4><div class="post-date"></div></div>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Geolonia では、ウェブ地図や位置情報を利用したウェブアプリケーションや、モバイルアプリケーションの開発も承っています。<br />
            お問い合わせは以下からどうぞ。</h2>
          <a class="btn btn-default btn-call-to-action" href="https://geolonia.com/contact/" >お問い合わせ</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>これは、おそらく世界初の位置情報のフルマネージドホスティングです。
            3分でサインアップして Geolonia を体験しましょう。</h2>
          <a class="btn btn-default btn-call-to-action" href="#" >Geolonia に登録する</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->

<script src="/js/blog.js"></script>
