<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="https://geolonia.com/contact/">Contact</a></li>
          </ul>
        </div>
        <p><a href="https://geolonia.com">株式会社 Geolonia</a><br /> 〒101-0032 東京都千代田区岩本町2-10-6 川原ビル５F</p>
      </div>
    </div>
  </div>
</footer>


<script type="text/javascript" src="https://cdn.geolonia.com/embed?geolonia-api-key=YOUR-API-KEY"></script>
<script type="text/javascript" src="https://geolonia.github.io/get-geolonia/app.js"></script>
