<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScN5V2uTYIR-8faAkz4ysS0_SoLHbWe2HqaYdw_u-U06WMITA/viewform">Contact</a></li>
          </ul>
        </div>
        <p>Copyright &copy; <a href="https://geolonia.com">株式会社 Geolonia</a>.</p>
      </div>
    </div>
  </div>
</footer>
